
__pycache__/Arbol.cpython-37.pyc
__pycache__/ElementGetter.cpython-37.pyc
__pycache__/infixToPrefix.cpython-37.pyc
__pycache__/Nodo.cpython-37.pyc
__pycache__/Stack.cpython-37.pyc
__pycache__/arbolDecision.cpython-37.pyc
__pycache__/Carta.cpython-37.pyc
*.pyc
__pycache__/Carta.cpython-37.pyc
__pycache__/Carta.cpython-37.pyc
*.pyc
__pycache__/Carta.cpython-37.pyc
__pycache__/Carta.cpython-37.pyc
